.containerOuter {
    padding: 16px;
    box-shadow: 0 0 0 1px rgba(64,87,109,.07), 0 2px 12px rgba(53,71,90,.2);
    width: 300px;
    height: 212px;
    background: #ffffff
}

.containerTop {
    width: 100%;
    height: 108px;
    position: relative;
    border-radius: 4px
}

.backgroundContainer {
    position: absolute;
    width: 100%;
    height: 100%
}

.backgroundWhite {
    background: linear-gradient(to right, #fff, rgba(255,255,255,0));
    position: absolute;
    width: 100%;
    height: 100%
}

.hexInput {
    border: 1px solid lightgrey;
    width: 100%;
    height: 40px;
    padding: 4px;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    color: #0e1318;
    text-transform: uppercase;
}

.hexInput:hover {
    border-color: rgba(30,41,51,.45);
}

.hexInput:focus {
    border: 1px solid #7d2ae8;
    outline: none;
}

.backgroundBlack {
    background: linear-gradient(to top, #000, rgba(0,0,0,0));
    position: absolute;
    width: 100%;
    height: 100%
}

.colorSliderBar {
    background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
    border-radius: 10px;
    height: 12px;
    margin: 8px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.colorSliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    position: absolute;
}

.colorSliderAdjuster {
    width: 8px;
    height: 8px;
    box-shadow: 0 2px 5px rgba(57,76,96,.15), 0 0 0 1px rgba(64,87,109,.07);
    border-radius: 8px;
    background: white
}

.colorSelector {
    z-index: 1;
    width: 16px;
    height: 16px;
    margin: 4px;
    border: 4px solid #ffffff;
    border-radius: 14px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(57,76,96,.15), inset 0 0 0 1px rgba(57,76,96,.15);
}

.inputSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    background: none;
    outline: none;
}

.inputSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 8px; /* Set a specific slider handle width */
  height: 8px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(57,76,96,.15), 0 0 0 1px rgba(64,87,109,.07);
}
