.color-panel {
    height: 100%;
    width: 350px;
    background: #ffffff;
    position: absolute;
    left: 70px;
    border-right: 1px solid rgba(57,76,96,.15);
    z-index: 1;
}

.color-section {
    margin-top: 25px;
}

.color-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
}

.colorpicker-container {
    position: absolute;
    z-index: 1;
    transform: translate(6px, 56px);
}

.color-title {
    color: #0e1318b3;
    text-align: left;
    margin-left: 21px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 4px;
}

.color {
    width: 41px;
    height: 41px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px rgba(57,76,96,.15);
    border: 0px solid #00c4cc;
    transition: all 0.1s linear;
    position: relative;
    margin: 6px;
    cursor: pointer;
}

.color-rainbow {
    width: 42px;
    height: 42px;
}

.color:hover {
    transition: all 0.1s 0.05s linear;
    border: 2px solid #00c4cc;
    box-shadow: inset 0px 0px 0px 2px white;
}

.color-rainbow:hover {
    transition: all 0.1s linear;
    transform: scale(1.12);
}
.color-rainbow:hover .rainbow {
    transition: all 0.1s linear;
    transform: translate(-50%, -50%) scale(0.80);
}

.rainbow {
    position: absolute;
    width: 42px;
    height: 42px;
    background-image: url('./rainbow.png');
    background-position: center;
    background-size: contain;
    border-radius: 4px;
    transition: all 0.1s linear;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.tooltip-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
