.panel-elements-top {
    display: flex;
    padding: 8px 8px 8px 13px;
}

.panel-elements-top button {
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    color: #b9bcbe;
    font-weight: 600;
    background: #373e46;
    font-family: 'Open Sans';
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}

.panel-elements-top button:hover {
    background: #444b52
}

.panel-element {
    display: flex;
    align-items: center;
    height: 24px;
}

.panel-element-icon {
    width: 6px;
    height: 6px;
    background: #e1e1e1;
    margin-right: 10px;
}

.panel-element-name {
    color: #e1e1e1;
    font-size: 10px;
    transform: translateY(-1px);
}

.hierarchy-line {
    width: 13px;
    margin-right: 0rem;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: translateY(-50%);
}
