.canvas-update-container, .panel.settings .button-container {
    display: flex;
    padding: 8px 8px 8px 13px;
}

.canvas-update-container input {
    width: 60px;
    margin-right: 4px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    background: #edf0f2;
    color: #0e1318;
    text-align: center;

}

.panel.settings button {
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    color: #b9bcbe;
    font-weight: 600;
    background: #373e46;
    font-family: 'Open Sans';
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}

.panel.settings button:hover {
    background: #444b52
}

.panel {
    height: 100%;
    width: 350px;
    background: #293039;
    z-index: 1;
}

.side-panel {
    display: flex;
    position: relative;
}

.sidebar {
    width: 70px;
    overflow-y: auto;
    background: #0e1318;
    position: relative;
}

.sidebar-item {
    width: 70px;
    height: 70px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 11px;
    font-weight: bold;
    opacity: 0.7;
}

.sidebar-item-cover {
    height: 70px;
    width: 70px;
    background: #293039;
    position: absolute;
    cursor: pointer;
    transition: top 0.25s ease-in-out;
}

.sidebar-item-cover::before, .sidebar-item-cover::after {
    right: 0px;
    top: -8px;
    width: 8px;
    height: 8px;
    background: radial-gradient(circle closest-side,transparent 0,transparent 50%,#293039 0) 200% 200%/400% 400%;
    content: "";
    position: absolute;
}

.sidebar-item-cover::after {
    top: unset;
    bottom: -8px;
    transform: scaleY(-1);
}

.panel-toggle {
    position: absolute;
    width: 32px;
    right: -35px;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.caret {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 2px));
    color: white;
}

.panel-style, .panel-project {
    color: #e1e1e1;
    font-size: 12px;
    padding: 1px;
    padding-left: 10px;
    text-align: left;
}

.css .class {
    padding: 6px;
    margin-bottom: 4px;
    border-radius: 8px;
}

.html > div {
    padding: 4px;
    border-radius: 0 10px 10px 0;
}

.panel-project {
    cursor: pointer;
}

.panel-style span, .panel .blue {
    color: var(--highlight-color);
}

.orange {
    color: #e3c82d;
}
.red {
    color: #e54058;
}

.panel .css, .panel .html {
    margin: 20px;
    background: #0e1318;
    text-align: left;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px;
}

.style-panel *, .panel .html * {
    user-select: text;
}

.style-panel {
    overflow: auto;
}

.panel .html {
    overflow: auto;
    white-space: nowrap;
}

::selection {
    background: #7c2ce8;
}

.panel .css-style {
    margin-left: 24px;
}

.panel .html .element:hover {
    /* background: #333333; */
    cursor: pointer;
}

.html .red {
    color: #ee0157;
}
.html .green {
    color: #8ed900;
}
.html .white {
    color: #f0f1e9;
}
.html .yellow {
    color: #d0c74f;
}
