.editor {
    background: #fbfbfb;
}

.panel-canvas-container {
    height: calc(100% - 60px);
    display: flex;
}

.canvas-header-container {
    /* width: calc(100% - 350px); */
    overflow: auto;
    flex-grow: 1;
    position: relative;
}

.canvas-container {
    position: relative;
    background: #edf0f2;
    width: 100%;
    height: calc(100% - 45px);
    overflow: auto;
    display: flex;
    align-items: center;
}

.styles-input {
    width: 100%;
    position: absolute;
    bottom: 40px;
}

.styles-input input {
    outline: none;
    border: none;
    background: none;
    color: transparent;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 #293039;
}
