.editor {
    background: #fbfbfb;
}

.panel-canvas-container {
    height: calc(100% - 60px);
    display: flex;
}

.canvas-header-container {
    /* width: calc(100% - 350px); */
    overflow: auto;
    flex-grow: 1;
}

.canvas-container {
    position: relative;
    background: #edf0f2;
    width: 100%;
    height: calc(100% - 45px);
    overflow: auto;
    display: flex;
    align-items: center;
}
