* {
    box-sizing: border-box;
    user-select: none;
}

html, body, #root, .App, .editor {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
    text-align: center;
}

:root {
    --adjuster-square-size: 14px;
    --adjuster-square-offset: calc(var(--adjuster-square-size) / -2);
    --highlight-color: #49beeb;
    --adjuster-line-size: 14px;
    --adjuster-line-offset: calc(var(--adjuster-line-size) / -2);
}

/* Highlight */
.highlight-box {
    border: 1px solid var(--highlight-color);
    width: 100%;
    height: 100%;
}
