.canvas-header {
    width: 100%;
    height: 45px;
    background: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
}

.color-toggle-container {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px #394c6026;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 27px;
    border-radius: 2px;
}

.color-toggle-container:hover {
    box-shadow: 0px 0px 0px 4px #394c6026;
}

.color-toggle {
    background: #af9ae1;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(57,76,96,.15);
}
