.canvas-header {
    width: 100%;
    height: 45px;
    background: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
}

.canvas-header-element-settings {
    position: relative;
    display: flex;
    align-items: center;
}

.color-toggle-container {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px #394c6026;
    position: relative;
    margin-left: 10px;
    border-radius: 2px;
}

.color-toggle-container:hover {
    box-shadow: 0px 0px 0px 4px #394c6026;
}

.color-toggle {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(57,76,96,.15);
}

.position-settings {
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.flexbox-settings {
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.canvas-header-button {
    padding: 4px 8px;
    background: #ededed;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    font-size: 12px;
}

.history-buttons {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.history-buttons button {
    font-size: 18px;
    padding: 0 10px;
    background: #ededed;
    border-radius: 4px;
    margin: 0 4px;
    border: none;
}
